<nav aria-label="Page navigation">
  <ul class="pagination">
    <% if(campgrounds.page-1){ %>
    <li><a href="/campgrounds?page=1">First</a></li>
    <li>
      <a
        href="/campgrounds?page=<%= campgrounds.page-1 %>"
        aria-label="Previous"
      >
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </a>
    </li>
    <% } %> <% for(let p = 1; p<=campgrounds.pages; p++){ %>
    <li class="<%= p==campgrounds.page ? 'active' : '' %>">
      <a href="/campgrounds?page=<%= p %>"><%= p %></a>
    </li>
    <% if((p%20)===0){ %>
  </ul>
  <ul class="pagination">
    <% } %> <% } %> <% if(campgrounds.page!==campgrounds.pages){ %>
    <li>
      <a href="/campgrounds?page=<%= campgrounds.page+1 %>" aria-label="Next">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </a>
    </li>
    <li><a href="/campgrounds?page=<%= campgrounds.pages %>">Last</a></li>
    <% } %>
  </ul>
</nav>
