<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheet/form.css" />
<% include ../partials/close_header %>
<div class="container">
  <h1 class="text-center">Edit <%= campground.name %></h1>
  <div class="row form-row">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="campground[name]"
          placeholder="name"
          value="<% if(name){ %><%= name %><% } else { %><%= campground.name %><% } %>"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          placeholder="location"
          value="<% if(location){ %><%= location %><% } else { %><%= campground.location %><% } %>"
        />
      </div>
      <%# the user can upload new images %>
      <div class="form-group">
        <input
          class="form-control"
          id="imgInput"
          type="file"
          name="images"
          accept="image/*"
          multiple
        />
      </div>
      <div class="form-group">
        <% campground.images.forEach(function(img, i){ %>
        <img
          src="<%= img.url %>"
          alt="image of <%= campground.name %>"
          class="image"
        />
        <input type="checkbox" class="deleteImg" name="deleteImages[]"
        value="<%= img.public_id %>" <% if(delImgs.indexOf(img.public_id)!==-1){
        %>checked<% } %> /> <% }) %>
      </div>
      <div class="form-group">
        <input class="newCampgroundCheckbox" type="checkbox" name="campground[freeWiFi]"
        id="wifi" value="true" <%= freeWiFi || (campground.features.freeWiFi && !error) ? "checked" : ""
        %> />
        <label for="wifi">Free Wi-Fi</label>
        <input class="newCampgroundCheckbox" type="checkbox"
        name="campground[hasSwimingPool]" id="swimingPool" value="true" <%=
        hasSwimingPool || (campground.features.hasSwimingPool && !error) ? "checked" : "" %> />
        <label for="swimingPool">Has Swiming pool</label>
      </div>
      <div class="form-group">
        <label for="baths">Type of baths:</label>
        <select name="campground[baths]" id="baths" class="form-control">
          <option value="no shower" <%= baths==="no shower" || (campground.features.baths==="no shower" && !error) ? "selected" : "" %>>no shower</option>
          <option value="shower" <%= baths==="shower" || (campground.features.baths==="shower" && !error) ? "selected" : "" %>>shower</option>
          <option value="shower and bath tub" <%= baths==="shower and bath tub" || (campground.features.baths==="shower and bath tub" && !error) ? "selected" : "" %>>shower and bath tub</option>
        </select>
      </div>
      <div class="form-group">
        <label for="carParkings">Type of car parkings</label>
        <select name="campground[carParkings]" id="carParkings" class="form-control">
          <option value="basic" <%= carParkings==="basic" || (campground.features.carParkings==="basic" && !error) ? "selected" : "" %>>basic</option>
          <option value="covered" <%= carParkings==="covered" || (campground.features.carParkings==="covered" && !error) ? "selected" : "" %>>covered</option>
          <option value="with parkers" <%= carParkings==="with parkers" || (campground.features.carParkings==="with parkers" && !error) ? "selected" : "" %>>with parkers</option>
        </select>
      </div>
      <br />

      <div class="form-group">
        <input
          class="form-control"
          type="number"
          name="campground[price]"
          placeholder="price"
          value="<% if(price){ %><%= price %><% } else { %><%= campground.price %><% } %>"
          min="0.01"
          step="0.01"
        />
      </div>
      <div class="form-group">
        <textarea
          class="form-control"
          name="campground[description]"
          id=""
          cols="30"
          rows="10"
          placeholder="description ... "
        >
<% if(description){ %><%= description %><% } else { %><%= campground.description %><% } %></textarea
        >
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-warning btn-block" type="submit">
          Edit
        </button>
      </div>
    </form>
  </div>
</div>
<script src="/javascripts/validateLocation.js"></script>
<script src="/javascripts/campgroundEdit.js"></script>
<% include ../partials/footer %>
