<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheet/index.css" />
<% include ../partials/close_header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <H1>Wellcome To YelpCamp</H1>
      <h3>See our campgrounds from all over the world on this map</h3>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-lg">NEW CAMPGROUND</a>
      </p>
    </div>
  </header>
  <div class="row" id="map-box">
    <div class="col-lg-3">
      <% include ../partials/searchAndFilter %>
    </div>
    <div class="col-lg-9">
      <div id="map"></div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-12 col-lg-12">
      <h3>
        Here you are our best campgrounds
      </h3>
    </div>
    <% campgrounds.docs.forEach(function (campground){ %>
    <div class="col-md-6 col-lg-3">
      <div class="thumbnail">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <% for(var i = 0; i<campground.images.length; i++){ %>
            <div class="item <% if(i===0){ %>active<% } %>">
              <img src="<%= campground.images[i].url ? campground.images[i].url : '' %>"
                alt="image of <%= campground.name %>" />
            </div>
            <% } %>
          </div>
        </div>
        <div class="caption">
          <h4><%= campground.name %></h4>
          <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">more info</a>
          </p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<% include ../partials/paginationControllers %>
<% include ../partials/footer %>

<script>
  const campgrounds = {features: <%- JSON.stringify(campgrounds.docs) %>};
  const isLanding = false;
</script>
<script src="/javascripts/campgroundClusterMaps.js"></script>