<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">info 1</li>
        <li class="list-group-item">info 2</li>
        <li class="list-group-item">info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <% if(campground.images.length>1){ %>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <% for(var i = 1; i<campground.images.length; i++){ %>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <% } %>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% for(var i = 0; i<campground.images.length; i++){ %>
            <div class="item <% if(i===0){ %>active<% } %>">
              <img src="<%= campground.images.length ? campground.images[i].url : '' %>"
                alt="image of <%= campground.name %>" />
            </div>
            <% } %>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <% } else { %>
        <img class="img-responsive" src="<%= campground.images.length ? campground.images[0].url : '' %>" alt="">
        <% } %>
        <div class="caption">
          <h4 class="pull-right">
            <strong>$<%= campground.price %></strong>/night
          </h4>
          <h2><a href=""><%= campground.name %></a></h2>
          <h4><%= campground.location %></h4>
          <div id="map"></div>
          <p><%= campground.description %></p>
          <p>Submited By <em><%= campground.author.username %></em></p>
          <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
          <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
          <form class="delete_form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger" type="submit">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment!</a>
        </div>
        <hr />
        <% campground.comments.forEach(function(comment){ %>
        <div class="row">
          <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p>
              <%= comment.text %>
            </p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
              class="btn btn-xs btn-warning">Edit</a>
            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
              class="delete_form" method="POST">
              <input type="submit" class="btn btn-xs btn-danger" value="Delete" />
            </form>
            <% } %>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
<script>
  const campground = <%- JSON.stringify(campground) %>
</script>
<script src="/javascripts/showMap.js"></script>
<% include ../partials/footer %>